{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id='placeholder'>
</div>

<div class="card">
    <h5 class="card-title">Exercise history</h5>
    <div class="card-body">
        <canvas id='exercise-history-chart' style="width: 200; height: 100;"></canvas>
    </div>
</div>

<div class="grid-item">
    <h2>Possible Exercises</h2>
    <ul id='exercise-list'></ul>
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'assets/js/exercise-history.js' %}"></script>
{% endblock %}
